# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
design/
tools/
LICENSE.TXT
weltmeister.html
index.html
lib/impact/
lib/weltmeister/
lib/plugins/impact-splash-loader.js
lib/plugins/outlinedfont.js
lib/plugins/symbols/symbols.js
game.min.js
